<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="site-header">
    <nav>
        <a class="brand" href="#">APTECH</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
   <section class="hero-banner">
        <div class="container">
            <div class="avatar-holder">
                <img src="images/user.png" alt="">
            </div>
            <h1>Start Bootstrap</h1>
            <div class="wrap-line">
                <span class="line"></span>
                <i class="fa fa-star"></i>
                <span class="line"></span>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
   </section>
</main>

</body>
</html>
