<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="site-header">
    <nav>
        <a class="brand" href="#">APTECH</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="hero-banner">
        <div class="container">
            <div class="avatar-holder">
                <img src="images/user.png" alt="">
            </div>
            <h1>Start Bootstrap</h1>
            <div class="wrap-line">
                <span class="line"></span>
                <i class="fa fa-star"></i>
                <span class="line"></span>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <h2 class="section-title">Portfolio</h2>
            <div class="wrap-line">
                <span class="line"></span>
                <i class="fa fa-star"></i>
                <span class="line"></span>
            </div>
            <div class="row">
                <img src="images/1.png" alt="">
                <img src="images/2.jpg" alt="">
                <img src="images/3.jpeg" alt="">
            </div>
            <div class="row">
                <img src="images/1.png" alt="">
                <img src="images/2.jpg" alt="">
                <img src="images/3.jpeg" alt="">
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <h2 class="section-title">About</h2>
            <div class="wrap-line">
                <span class="line"></span>
                <i class="fa fa-star"></i>
                <span class="line"></span>
            </div>
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aspernatur, consequatur cum eos et
                        ex fuga harum illum minima necessitatibus praesentium quas quasi quia repudiandae suscipit
                        temporibus vel velit?</p>
                </div>
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab earum, illum iusto nam natus nemo
                        neque placeat, quas ratione rem repellat rerum sint voluptas. Est exercitationem iste nostrum
                        saepe sequi.</p>
                </div>
            </div>
            <a class="btn-download" href="#!"><i class="fa fa-download"></i> Free Download!</a>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2 class="section-title">Contact</h2>
            <div class="wrap-line">
                <span class="line"></span>
                <i class="fa fa-star"></i>
                <span class="line"></span>
            </div>

            <form action="">
                <label>Full name</label>
                <input type="text">

                <label>Email Address</label>
                <input type="email">

                <label>Phone Number</label>
                <input type="text">

                <label>Message</label>
                <textarea name=""cols="30" rows="10"></textarea>

                <button type="submit">Send</button>
            </form>
        </div>
    </section>
</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Location</h3>
                <p>2215 Kumaripati</p>
                <p>Lalitpur Nepal</p>
            </div>
            <div class="col">
                <h3>Around the Web</h3>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-globe"></i></a>
                </div>
            </div>
            <div class="col">
                <h3>About Freelancer</h3>
                <p>Aptech Computer Education</p>
                <a href="https://www.aptechlalitpur.com">www.aptechlalitpur.com</a>
            </div>
        </div>
    </div>



<div class="copyright">
    <p>Copyright &copy; Your Websute 2022</p>
</div>
</footer>
</body>
</html>
