*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 30px;
    border: 1px solid orangered;
    margin: 30px;
    display: flex;
}
aside{
    background-color: orangered;
    width: 200px;
}
aside a{
    display: block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}
aside a:hover{
    color: orangered;
    background-color: white;
    transition: all 0.3s;
}
article{
    background-color: #cccccc;
    width: calc(100% - 200px);
    height: 600px;
}
iframe{
    width: 100%;
    height: 100%;
}
